.container__delete {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.card__delete {
    position: relative;
    width: 400px;
    min-height: 150px;
    background: rgba(4, 3, 14, 0.912);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
}

.btn__x {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
}

.delete__title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid rgb(221, 214, 214);
    padding-bottom: 10px;
}

.delete__texto {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.container__button {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.button__delete {
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: rgba(4, 3, 14, 0.912);
    text-align: center;
    color: white;
    border-radius: 5px 5px 5px 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}