.App {
    width: 100%;

}

.btn__button {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App__header {
    width: 100%;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}

.header__btn {
    border: none;
    border-radius: 7px;
    background: rgba(4, 3, 14, 0.912);
    color: rgb(255, 254, 254);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px;
    box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 9px 8px 10px 3px rgba(0, 0, 0, 0.72);
    transition: transform 1s ease;
}

.header__btn:hover {

    transform: scale(1.1);
}

.header__title {
    color: white;
}